body{
    background-color: rgb(234, 234, 234);

    header{
        margin-bottom: 1em;
        background-color: rgb(129, 129, 129);
        h1{
            padding: 1em;
            font-size: 40px;
            display: flex;
            justify-content: center;
            background-color: rgb(0, 0, 0);
            color: rgb(152, 136, 11);
        }

        nav{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 1em;
                               
                li{
                    font-size: 20px;
                }
            }
        }
    }

    main{
        display:grid;
        grid-template-columns: 15% 1fr 15%;

            article{
                background-color: rgb(100, 100, 100);
                grid-column-start: 2;

                    table{
                        width: 100%;
                        border: 1px solid black;
                    }




                    ul{
                        li{
                            label{
                                background-color: rgb(30, 30, 30);
                                color:darkgoldenrod;
                            }
                            padding: 12px;
                            ul{
                                background-color: rgb(216, 216, 216);
                            }
                        }
                }
                
            }
    }
}

.hidden{
    display: none;
}